## for PROD ######################################
## App Keys #####################################
NUXT_APP_CLIENT_ID='local.xxxx.xxxxx'
NUXT_APP_CLIENT_SECRET='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
NUXT_APP_SCOPE='xx,xx,xx'

## Domain #######################################
# @memo You need to register two domains https://prod.example.com
VIRTUAL_HOST='b24ui.bx-shef.by'
LETSENCRYPT_HOST='b24ui.bx-shef.by'
LETSENCRYPT_EMAIL='shevchik.mail@gmail.com'

## AI.DeepSeek ##################################
DEEPSEEK_API_KEY='xxxxxx'

## SYSTEM ######################################
# Don't change unless absolutely necessary
# need sync with docker
VIRTUAL_PORT=80
NUXT_APP_INTERNAL_URL='http://frontend:80'
NUXT_ALLOWED_IPS='127.0.0.1,::1'
PORT=80
HOST=0.0.0.0
NODE_ENV='production'
NUXT_ALLOWED_HOSTS=
NUXT_PUBLIC_USE_AI=true
NUXT_PUBLIC_BASE_URL=
## MEMO: don't use `PROD=true`

## AUTO ########################################
# These parameters are generated in docker-compose.*.yml
#
# NUXT_PUBLIC_APP_URL='https://${VIRTUAL_HOST}'
# NUXT_PUBLIC_SITE_URL='https://${VIRTUAL_HOST}'
